# **Tipos de Datos**

## **Enteros (`int`)**

In [20]:
numero_entero = 10

print(numero_entero)
print(type(numero_entero))

20
<class 'int'>

## **Flotantes (`float`)**

In [17]:
numero_flotante = 3.14

print(numero_flotante)
print(type(numero_flotante))

3.14
<class 'float'>

## **Cadenas de Texto (`str`)**

In [18]:
texto = "Hola, Python"

print(texto)
print(type(texto))

Hola, Python
<class 'str'>

## **Booleanos (`bool`)**

In [14]:
booleano = True

print(booleano)
print(type(booleano))

False
<class 'bool'>

## **Listas (`list`)**

In [22]:
lista = [1, 2, True, "Python", 3.14]

print(lista)
print(type(lista))

[1, 2, True, 'Python', 3.14]
<class 'list'>

## **Tuplas (`tuple`)**

In [24]:
tupla = (1, "Python", 3.14)

print(tupla)
print(type(tupla))

(1, 'Python', 3.14)
<class 'tuple'>

## **Diccionarios (`dict`)**

In [28]:
diccionario = {"nombre": "Python", "version": 3.11}

print(diccionario)
print(type(diccionario))

{}
<class 'dict'>

## **Conjuntos (`set`)**

In [32]:
conjunto = {1, 2, 3, 3, 4}

print(conjunto)
print(type(conjunto))

{1, 2, 3, 4}
<class 'set'>

## **Ning√∫n Valor (`NoneType`)**

In [39]:
sin_valor = None

print(sin_valor)
print(type(sin_valor))

SyntaxError: invalid syntax (482565161.py, line 1)